<!doctype html>
<html lang="ar">

<head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="theme-color" content="#000000">
    <title>Deepstore</title>
    <meta name="description" content="Deepstore HTML Mobile Template">
    <meta name="keywords"
        content="bootstrap, wallet, banking, fintech mobile template, cordova, phonegap, mobile, html, responsive" />
    <link rel="icon" type="image/png" href="assets/img/icon/1024x1024.png" sizes="32x32">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/icon/192x192.png">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="manifest" href="__manifest.json">

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>
</head>

<body>

    <!-- loader -->
    <div id="loader">
        <img src="assets/img/loading-icon.png" alt="icon" class="loading-icon">
    </div>
    <!-- * loader -->

    <!-- App Header -->
    <div id="appheader" class="appHeader bg-primary text-light">
        <div class="left">
            <!-- <a href="#" class="headerButton" data-bs-toggle="modal" data-bs-target="#sidebarPanel">
                <ion-icon name="menu-outline"></ion-icon>
            </a> -->
        </div>
        <div class="pageTitle">
            <img src="assets/img/logo.png" alt="logo" class="logo">
        </div>
        <div class="right">
            <a href="app-notifications.html" class="headerButton">
                <ion-icon class="icon" name="notifications-outline"></ion-icon>
                <span v-if="unreadNotificationsCount>0" class="badge badge-danger">{{unreadNotificationsCount}}</span>
            </a>
            <!-- <a href="app-settings.html" class="headerButton">
                <img src="assets/img/sample/avatar/avatar1.jpg" alt="image" class="imaged w32">
                <span class="badge badge-danger">6</span>
            </a> -->
        </div>
    </div>
    <!-- * App Header -->


    <!-- App Capsule -->
    <div id="appCapsule">

        <!-- Wallet Card -->
        <div class="section wallet-card-section pt-1">
            <div class="wallet-card">
                <!-- Balance -->
                <div class="balance">
                    <div class="left">
                        <span class="title">مستحق المتجر</span>
                        <h1 v-if="isUserLoading" class="total">
                            <div v-if="isUserLoading" class="spinner-border text-primary" role="status"></div>

                        </h1>
                        <h1 v-else class="total"> {{user.user.due_payments_total.toLocaleString("en-US",{
                            minimumFractionDigits: 2,
                            maximumFractionDigits: 2,
                            })}} <span>د.ل</span></h1>
                    </div>
                    <!-- <div class="right">
                        <a href="#" class="button" data-bs-toggle="modal" data-bs-target="#depositActionSheet">
                            <ion-icon name="add-outline"></ion-icon>
                        </a>
                    </div> -->
                </div>
                <!-- * Balance -->
                <!-- Wallet Footer -->
                <!-- <div class="wallet-footer">
                    <div class="item">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#withdrawActionSheet">
                            <div class="icon-wrapper bg-danger">
                                <ion-icon name="arrow-down-outline"></ion-icon>
                            </div>
                            <strong>Withdraw</strong>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#sendActionSheet">
                            <div class="icon-wrapper">
                                <ion-icon name="arrow-forward-outline"></ion-icon>
                            </div>
                            <strong>Send</strong>
                        </a>
                    </div>
                    <div class="item">
                        <a href="app-cards.html">
                            <div class="icon-wrapper bg-success">
                                <ion-icon name="card-outline"></ion-icon>
                            </div>
                            <strong>Cards</strong>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#exchangeActionSheet">
                            <div class="icon-wrapper bg-warning">
                                <ion-icon name="swap-vertical"></ion-icon>
                            </div>
                            <strong>Exchange</strong>
                        </a>
                    </div>

                </div> -->
                <!-- * Wallet Footer -->
            </div>
        </div>
        <!-- Wallet Card -->


        <!-- * Exchange Action Sheet -->

        <!-- Stats -->

        <!-- * Stats -->

        <!-- Orders -->
        <div class="section mt-4 mb-5 mx-2">
            <div class="section-heading">
                <h2 class="title">الطلبيات</h2>
                <!-- <a href="app-transactions.html" class="link">View All</a> -->
            </div>

            <div class="card mb-1">
                <div class="card-body">
                    <ul class="nav nav-tabs capsuled" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active py-4 active text-warning" @click="getPendingOrders()" data-bs-toggle="tab" href="#pending" role="tab">
                                <ion-icon name="refresh-outline"></ion-icon>
                                معلق
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link py-4 text-info" data-bs-toggle="tab" @click="getPostponedOrders()" href="#postponed" role="tab">
                                <ion-icon name="calendar-outline"></ion-icon>
                                مؤجل
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link py-4 text-danger" data-bs-toggle="tab" @click="getCanceledOrders()" href="#canceled" role="tab">
                                <ion-icon name="ban-outline"></ion-icon>
                                ملغي
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link py-4" data-bs-toggle="tab" @click="getCompletedOrders()" href="#completed" role="tab">
                                <ion-icon class="text-success" name="checkbox-outline"></ion-icon>
                                <span class="text-success">تم التوصيل</span>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>

            <div class="tab-content mt-1 ">
                <div class=" orders tab-pane fade show active"  id="pending" role="tabpanel">

                    <div v-if="isPendingOrdersLoading" class="spinner-border text-primary" role="status"></div>


                    <a v-for="(item, index) in pendingOrders" :key="index"
                        :href="`app-transaction-detail.html?sale=${item.id}`" class="item mb-3 mt-3" style="position: relative;">



                        <span v-if="( (item.created_since_unit == 'دقيقة' || item.created_since_unit == 'ساعة') && !item.seen_at  )" class="seen_badge badge badge-danger" style="position: absolute; left: -5px; top: 5px; ">!</span>

                        <div class="detail">
                            <div>
                                <p class="fs-6 mb-1">#{{ item.Ref }}</p>
                                <strong class="my-1 fs-6"> {{item.client_tele}} </strong>
                                <p class="">{{item.address}}</p>
                                <p class="my-1  text-success"><span class="fs-6">{{item.GrandTotal}}</span>
                                    <span>د.ل</span>
                                </p>
                                <p class=""><span>  تم الطلب منذ </span>{{item.created_since}} <span>{{item.created_since_unit}}</span></p>

                                <div style="display: flex;">
                                    <div>
                                        <span v-if="item.answer_status == 'no_answer'" class="badge badge-danger mb-1 px-2 py-1"
                                            style="font-size: 0.75rem;">لا أستجابة</span>
                                        <span v-else-if="item.payment_status == 'answered'" class="badge badge-success mb-1 px-2 py-1"
                                            style="font-size: 0.75rem;"> تم الرد </span>
                                        <span v-else class="badge badge-secondary mb-1 px-2 py-1" style="font-size: 0.75rem;"> لم يتم الأتصال </span>
                                    </div>
                                    
                                
                                </div>
                                <hr class="mt-0 mb-1">
                                <div>
                                    <span v-if="item.has_stock" class="badge badge-success mb-1 px-2 py-1" style="font-size: 0.75rem;"> يوجد مخزون
                                    </span>
                                
                                    <span v-else class="badge badge-danger mb-1 px-2 py-1" style="font-size: 0.75rem;"> لا يوجد مخزون </span>
                                </div>
                                



                            </div>
                        </div>
                        <div class="right">
                            <div class="flex flex-column ">
                                <div v-for="(product,key) in item.sale_details" :key="key">
                                    <span class="badge badge-primary px-2 py-2 mb-1">
                                        <strong>{{product.name}}</strong>
                                    </span>
                                </div>
                                <!-- <div>
                                    <span class="badge badge-primary mb-1">
                                        فوم فودرا سيارة
                                    </span>
                                </div>
                                <div>
                                    <span class="badge badge-danger mb-1">
                                        قطر مينا
                                    </span>
                                </div> -->


                            </div>

                            <!-- <div class="price text-danger"> - $ 150</div> -->
                        </div>

                    </a>

                </div>

                <div class=" orders tab-pane fade" id="canceled"  role="tabpanel">
                    <div v-if="isCanceledOrdersLoading" class="spinner-border text-primary" role="status"></div>

                    <a v-for="(item, index) in canceledOrders" :key="index"
                        :href="`app-transaction-detail.html?sale=${item.id}`" class="item">

                        <div class="detail">
                            <div>
                                <p class="fs-6 mb-1">#{{ item.Ref }}</p>
                                <strong class="my-1 fs-6"> {{item.client_tele}} </strong>
                                <p class="">{{item.address}}</p>
                                <p class="my-1  text-success"><span class="fs-6">{{item.GrandTotal}}</span>
                                    <span>د.ل</span>
                                </p>
                                <p class=""><span>  تم الطلب منذ </span>{{item.created_since}} <span>{{item.created_since_unit}}</span></p>



                            </div>
                        </div>
                        <div class="right">
                            <div class="flex flex-column ">
                                <div v-for="(product,key) in item.sale_details" :key="key">
                                    <span class="badge badge-primary px-2 py-2 mb-1">
                                        <strong>{{product.name}}</strong>
                                    </span>
                                </div>
                                <!-- <div>
                                    <span class="badge badge-primary mb-1">
                                        فوم فودرا سيارة
                                    </span>
                                </div>
                                <div>
                                    <span class="badge badge-danger mb-1">
                                        قطر مينا
                                    </span>
                                </div> -->


                            </div>

                            <!-- <div class="price text-danger"> - $ 150</div> -->
                        </div>
                        
                    </a>
                </div>

                <div class=" orders tab-pane fade" id="postponed"  role="tabpanel">
                    <div v-if="isPostponedOrderLoading" class="spinner-border text-primary" role="status"></div>

                    <a v-for="(item, index) in postponedOrders" :key="index"
                        :href="`app-transaction-detail.html?sale=${item.id}`" class="item">


                        <div class="detail">
                            <div>
                                <p class="fs-6 mb-1">#{{ item.Ref }}</p>
                                <strong class="my-1 fs-6"> {{item.client_tele}} </strong>
                                <p class="">{{item.address}}</p>
                                <p class="my-1  text-success"><span class="fs-6">{{item.GrandTotal}}</span>
                                    <span>د.ل</span>
                                </p>
                                <p class=""><span>  تم الطلب منذ </span>{{item.created_since}} <span>{{item.created_since_unit}}</span></p>



                            </div>
                        </div>
                        <div class="right">
                            <div class="flex flex-column ">
                                <div v-for="(product,key) in item.sale_details" :key="key">
                                    <span class="badge badge-primary px-2 py-2 mb-1">
                                        <strong>{{product.name}}</strong>
                                    </span>
                                </div>
                                <!-- <div>
                                    <span class="badge badge-primary mb-1">
                                        فوم فودرا سيارة
                                    </span>
                                </div>
                                <div>
                                    <span class="badge badge-danger mb-1">
                                        قطر مينا
                                    </span>
                                </div> -->


                            </div>

                            <!-- <div class="price text-danger"> - $ 150</div> -->
                        </div>

                    </a>
                </div>

                <div class=" orders tab-pane fade" id="completed"  role="tabpanel">
                    <div v-if="isCompletedOrdersLoading" class="spinner-border text-primary" role="status"></div>

                    <a v-for="(item, index) in completedOrders" :key="index"
                        :href="`app-transaction-detail.html?sale=${item.id}`" class="item">

                        <div class="detail">
                            <div>
                                <p class="fs-6 mb-1">#{{ item.Ref }}</p>
                                <strong class="my-1 fs-6"> {{item.client_tele}} </strong>
                                <p class="">{{item.address}}</p>
                                <p class="my-1  text-success"><span class="fs-6">{{item.GrandTotal}}</span>
                                    <span>د.ل</span>
                                </p>
                                <p class=""><span>  تم الطلب منذ </span>{{item.created_since}} <span>{{item.created_since_unit}}</span></p>


                                <span v-if="item.payment_status == 'paid'" class="badge badge-success mb-1 px-2 py-1" style="font-size: 0.75rem;"> تم التسوية </span>
                                <span v-else="item.payment_status == 'notpaid'" class="badge badge-warning mb-1 px-2 py-1" style="font-size: 0.75rem;"> غير مستحق  </span>



                            </div>
                        </div>
                        <div class="right">
                            <div class="flex flex-column ">
                                <div v-for="(product,key) in item.sale_details" :key="key">
                                    <span class="badge badge-primary px-2 py-2 mb-1">
                                        <strong>{{product.name}}</strong>
                                    </span>
                                </div>
                                <!-- <div>
                                    <span class="badge badge-primary mb-1">
                                        فوم فودرا سيارة
                                    </span>
                                </div>
                                <div>
                                    <span class="badge badge-danger mb-1">
                                        قطر مينا
                                    </span>
                                </div> -->


                            </div>

                            <!-- <div class="price text-danger"> - $ 150</div> -->
                        </div>

                    </a>
                </div>

            </div>
        </div>
        <!-- * Transactions -->

        <!-- my cards -->

        <!-- * my cards -->

        <!-- Send Money -->
        <!-- <div class="section full mt-4">
            <div class="section-heading padding">
                <h2 class="title">Send Money</h2>
                <a href="#" class="link">Add New</a>
            </div> -->
        <!-- carousel small -->
        <!-- <div class="carousel-small splide">
                <div class="splide__track">
                    <ul class="splide__list">
                        <li class="splide__slide">
                            <a href="#">
                                <div class="user-card">
                                    <img src="assets/img/sample/avatar/avatar2.jpg" alt="img" class="imaged w-100">
                                    <strong>Jurrien</strong>
                                </div>
                            </a>
                        </li>
                        <li class="splide__slide">
                            <a href="#">
                                <div class="user-card">
                                    <img src="assets/img/sample/avatar/avatar3.jpg" alt="img" class="imaged w-100">
                                    <strong>Elwin</strong>
                                </div>
                            </a>
                        </li>
                        <li class="splide__slide">
                            <a href="#">
                                <div class="user-card">
                                    <img src="assets/img/sample/avatar/avatar4.jpg" alt="img" class="imaged w-100">
                                    <strong>Alma</strong>
                                </div>
                            </a>
                        </li>
                        <li class="splide__slide">
                            <a href="#">
                                <div class="user-card">
                                    <img src="assets/img/sample/avatar/avatar5.jpg" alt="img" class="imaged w-100">
                                    <strong>Justine</strong>
                                </div>
                            </a>
                        </li>
                        <li class="splide__slide">
                            <a href="#">
                                <div class="user-card">
                                    <img src="assets/img/sample/avatar/avatar6.jpg" alt="img" class="imaged w-100">
                                    <strong>Maria</strong>
                                </div>
                            </a>
                        </li>
                        <li class="splide__slide">
                            <a href="#">
                                <div class="user-card">
                                    <img src="assets/img/sample/avatar/avatar7.jpg" alt="img" class="imaged w-100">
                                    <strong>Pamela</strong>
                                </div>
                            </a>
                        </li>
                        <li class="splide__slide">
                            <a href="#">
                                <div class="user-card">
                                    <img src="assets/img/sample/avatar/avatar8.jpg" alt="img" class="imaged w-100">
                                    <strong>Neville</strong>
                                </div>
                            </a>
                        </li>
                        <li class="splide__slide">
                            <a href="#">
                                <div class="user-card">
                                    <img src="assets/img/sample/avatar/avatar9.jpg" alt="img" class="imaged w-100">
                                    <strong>Alex</strong>
                                </div>
                            </a>
                        </li>
                        <li class="splide__slide">
                            <a href="#">
                                <div class="user-card">
                                    <img src="assets/img/sample/avatar/avatar10.jpg" alt="img" class="imaged w-100">
                                    <strong>Stina</strong>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div> -->
        <!-- * carousel small -->
    </div>
    <!-- * Send Money -->

    <!-- Monthly Bills -->

    <!-- * Monthly Bills -->


    <!-- Saving Goals -->

    <!-- * Saving Goals -->


    <!-- News -->

    <!-- * News -->


    <!-- app footer -->
    <!-- <div class="appFooter">
            <div class="footer-title">
                Copyright © Deepstore 2021. All Rights Reserved.
            </div>
            Bootstrap 5 based mobile template.
        </div> -->
    <!-- * app footer -->

    </div>
    <!-- * App Capsule -->


    <!-- App Bottom Menu -->
    <div class="appBottomMenu">
        <a href="index.html" class="item active">
            <div class="col">
                <ion-icon name="cart-outline"></ion-icon>
                <strong>الطلبيات</strong>
            </div>
        </a>
        <a href="storage.html" class="item">
            <div class="col">
                <ion-icon name="document-text-outline"></ion-icon>
                <strong>المخزون</strong>
            </div>
        </a>
        <a href="app-settings.html" class="item">
            <div class="col">
                <ion-icon name="settings-outline"></ion-icon>
                <strong>الأعدادات</strong>
            </div>
        </a>
    </div>
    <!-- * App Bottom Menu -->

    <!-- App Sidebar -->
    <div class="modal fade panelbox panelbox-left" id="sidebarPanel" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body p-0">
                    <!-- profile box -->
                    <div class="profileBox pt-2 pb-2">
                        <div class="image-wrapper">
                            <img src="assets/img/sample/avatar/avatar1.jpg" alt="image" class="imaged  w36">
                        </div>
                        <div class="in">
                            <strong>Sebastian Doe</strong>
                            <div class="text-muted">4029209</div>
                        </div>
                        <a href="#" class="btn btn-link btn-icon sidebar-close" data-bs-dismiss="modal">
                            <ion-icon name="close-outline"></ion-icon>
                        </a>
                    </div>
                    <!-- * profile box -->
                    <!-- balance -->
                    <div class="sidebar-balance">
                        <div class="listview-title">Balance</div>
                        <div class="in">
                            <h1 class="amount">$ 2,562.50</h1>
                        </div>
                    </div>
                    <!-- * balance -->

                    <!-- action group -->
                    <div class="action-group">
                        <a href="index.html" class="action-button">
                            <div class="in">
                                <div class="iconbox">
                                    <ion-icon name="add-outline"></ion-icon>
                                </div>
                                Deposit
                            </div>
                        </a>
                        <a href="index.html" class="action-button">
                            <div class="in">
                                <div class="iconbox">
                                    <ion-icon name="arrow-down-outline"></ion-icon>
                                </div>
                                Withdraw
                            </div>
                        </a>
                        <a href="index.html" class="action-button">
                            <div class="in">
                                <div class="iconbox">
                                    <ion-icon name="arrow-forward-outline"></ion-icon>
                                </div>
                                Send
                            </div>
                        </a>
                        <a href="app-cards.html" class="action-button">
                            <div class="in">
                                <div class="iconbox">
                                    <ion-icon name="card-outline"></ion-icon>
                                </div>
                                My Cards
                            </div>
                        </a>
                    </div>
                    <!-- * action group -->

                    <!-- menu -->
                    <div class="listview-title mt-1">Menu</div>
                    <ul class="listview flush transparent no-line image-listview">
                        <li>
                            <a href="index.html" class="item">
                                <div class="icon-box bg-primary">
                                    <ion-icon name="pie-chart-outline"></ion-icon>
                                </div>
                                <div class="in">
                                    Overview
                                    <span class="badge badge-primary">10</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="app-pages.html" class="item">
                                <div class="icon-box bg-primary">
                                    <ion-icon name="document-text-outline"></ion-icon>
                                </div>
                                <div class="in">
                                    Pages
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="app-components.html" class="item">
                                <div class="icon-box bg-primary">
                                    <ion-icon name="apps-outline"></ion-icon>
                                </div>
                                <div class="in">
                                    Components
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="app-cards.html" class="item">
                                <div class="icon-box bg-primary">
                                    <ion-icon name="card-outline"></ion-icon>
                                </div>
                                <div class="in">
                                    My Cards
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- * menu -->

                    <!-- others -->
                    <div class="listview-title mt-1">Others</div>
                    <ul class="listview flush transparent no-line image-listview">
                        <li>
                            <a href="app-settings.html" class="item">
                                <div class="icon-box bg-primary">
                                    <ion-icon name="settings-outline"></ion-icon>
                                </div>
                                <div class="in">
                                    Settings
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="component-messages.html" class="item">
                                <div class="icon-box bg-primary">
                                    <ion-icon name="chatbubble-outline"></ion-icon>
                                </div>
                                <div class="in">
                                    Support
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="app-login.html" class="item">
                                <div class="icon-box bg-primary">
                                    <ion-icon name="log-out-outline"></ion-icon>
                                </div>
                                <div class="in">
                                    Log out
                                </div>
                            </a>
                        </li>


                    </ul>
                    <!-- * others -->

                    <!-- send money -->
                    <div class="listview-title mt-1">Send Money</div>
                    <ul class="listview image-listview flush transparent no-line">
                        <li>
                            <a href="#" class="item">
                                <img src="assets/img/sample/avatar/avatar2.jpg" alt="image" class="image">
                                <div class="in">
                                    <div>Artem Sazonov</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="item">
                                <img src="assets/img/sample/avatar/avatar4.jpg" alt="image" class="image">
                                <div class="in">
                                    <div>Sophie Asveld</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="item">
                                <img src="assets/img/sample/avatar/avatar3.jpg" alt="image" class="image">
                                <div class="in">
                                    <div>Kobus van de Vegte</div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- * send money -->

                </div>
            </div>
        </div>
    </div>
    <!-- * App Sidebar -->



    <!-- iOS Add to Home Action Sheet -->
    <div class="modal inset fade action-sheet ios-add-to-home" id="ios-add-to-home-screen" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add to Home Screen</h5>
                    <a href="#" class="close-button" data-bs-dismiss="modal">
                        <ion-icon name="close"></ion-icon>
                    </a>
                </div>
                <div class="modal-body">
                    <div class="action-sheet-content text-center">
                        <div class="mb-1"><img src="assets/img/icon/192x192.png" alt="image" class="imaged w64 mb-2">
                        </div>
                        <div>
                            Install <strong>Deepstore</strong> on your iPhone's home screen.
                        </div>
                        <div>
                            Tap <ion-icon name="share-outline"></ion-icon> and Add to homescreen.
                        </div>
                        <div class="mt-2">
                            <button class="btn btn-primary btn-block" data-bs-dismiss="modal">CLOSE</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- * iOS Add to Home Action Sheet -->


    <!-- Android Add to Home Action Sheet -->
    <div class="modal inset fade action-sheet android-add-to-home" id="android-add-to-home-screen" tabindex="-1"
        role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add to Home Screen</h5>
                    <a href="#" class="close-button" data-bs-dismiss="modal">
                        <ion-icon name="close"></ion-icon>
                    </a>
                </div>
                <div class="modal-body">
                    <div class="action-sheet-content text-center">
                        <div class="mb-1">
                            <img src="assets/img/icon/192x192.png" alt="image" class="imaged w64 mb-2">
                        </div>
                        <div>
                            Install <strong>Deepstore</strong> on your Android's home screen.
                        </div>
                        <div>
                            Tap <ion-icon name="ellipsis-vertical"></ion-icon> and Add to homescreen.
                        </div>
                        <div class="mt-2">
                            <button class="btn btn-primary btn-block" data-bs-dismiss="modal">CLOSE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- * Android Add to Home Action Sheet -->


    

    <!-- ========= JS Files =========  -->

    

    <!-- Bootstrap -->
    <script src="assets/js/lib/bootstrap.bundle.min.js"></script>
    <!-- Ionicons -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!-- Splide -->
    <script src="assets/js/plugins/splide/splide.min.js"></script>
    <!-- Base Js File -->
    <script src="assets/js/base.js?v=12392823"></script>
    <script type="module" defer src="assets/js/firebase-notification-init.js"></script>


    <script type="module" defer>
        const { createApp } = Vue
        import axios from './axios.js'

        createApp({
            data() {
                return {
                    unreadNotificationsCount:0,
                    not_seen_count:0,
                    
                    pendingOrders: [],
                    isPendingOrdersLoading: false,

                    canceledOrders: [],
                    isCanceledOrdersLoading: false,

                    postponedOrders: [],
                    isPostponedOrderLoading: false,

                    completedOrders: [],
                    isCompletedOrdersLoading: false,

                    user: null,
                    isUserLoading: true

                }
            },
            methods: {
                getUser: function () {
                    this.isUserLoading = true;
                    axios.get('get_user_auth').then((response) => {
                        // handle success
                        this.user = response.data
                        // localStorage.setItem('token', response.data.token);
                        // response.header('Content-Type', 'application/json
                        // document.cookie = "key1 = value1;key2 = value2;expires = date";
                    })
                        .catch(function (error) {
                            // handle error
                            console.log(error);
                        })
                        .finally(() => {
                            // always executed
                            this.isUserLoading = false;

                        });

                },

            


                getPendingOrders() {
                    this.pendingOrders = [];
                    this.isPendingOrdersLoading = true;
                    axios.get('sales', {
                        params: {
                            page: 1,
                            limit: 1000,
                            statut: 'pending',
                            SortField: 'id',
                            SortType: 'desc'
                        }
                    }).then((response) => {
                        // handle success
                        this.pendingOrders = response.data.sales

                        // this.pendingOrders.sort((a,b)=>{
                        //     if(a.seen_at && !b.seen_at){
                        //         return 1;
                        //     }else{
                        //         return -1;
                        //     }
                        // })
                        this.not_seen_count = this.pendingOrders.filter(v=> !v.seen_at).length;
                        // localStorage.setItem('token', response.data.token);
                        // response.header('Content-Type', 'application/json
                        // document.cookie = "key1 = value1;key2 = value2;expires = date";
                    })
                        .catch(function (error) {
                            // handle error
                            console.log(error);
                        })
                        .finally(() => {
                            // always executed
                            this.isPendingOrdersLoading = false;

                        });

                },
                getCompletedOrders() {
                    this.completedOrders = [];
                    this.isCompletedOrdersLoading = true;
                    axios.get('sales', {
                        params: {
                            page: 1,
                            limit: 20,
                            statut: 'completed',
                            SortField: 'id',
                            SortType: 'desc'
                        }
                    }).then((response) => {
                        // handle success
                        this.completedOrders = response.data.sales
                        // localStorage.setItem('token', response.data.token);
                        // response.header('Content-Type', 'application/json
                        // document.cookie = "key1 = value1;key2 = value2;expires = date";
                    })
                        .catch(function (error) {
                            // handle error
                            console.log(error);
                        })
                        .finally(() => {
                            // always executed
                            this.isCompletedOrdersLoading = false;

                        });

                },
                getCanceledOrders() {
                    this.canceledOrders = [];

                    this.isCanceledOrdersLoading = true;

                    axios.get('sales', {
                        params: {
                            page: 1,
                            limit: 20,
                            statut: 'canceled',
                            SortField: 'id',
                            SortType: 'desc'
                        }
                    }).then((response) => {
                        // handle success
                        this.canceledOrders = response.data.sales
                        // localStorage.setItem('token', response.data.token);
                        // response.header('Content-Type', 'application/json
                        // document.cookie = "key1 = value1;key2 = value2;expires = date";
                    })
                        .catch(function (error) {
                            // handle error
                            console.log(error);
                        })
                        .finally(() => {
                            // always executed
                            this.isCanceledOrdersLoading = false;

                        });

                },
                getPostponedOrders() {
                    this.postponedOrders = [];

                    this.isPostponedOrderLoading = true;

                    axios.get('sales', {
                        params: {
                            page: 1,
                            limit: 1000,
                            statut: 'postponed',
                            SortField: 'id',
                            SortType: 'desc'
                        }
                    }).then((response) => {
                        // handle success
                        this.postponedOrders = response.data.sales
                        // localStorage.setItem('token', response.data.token);
                        // response.header('Content-Type', 'application/json
                        // document.cookie = "key1 = value1;key2 = value2;expires = date";
                    })
                        .catch(function (error) {
                            // handle error
                            console.log(error);
                        })
                        .finally(() => {
                            // always executed
                            this.isPostponedOrderLoading = false;

                        });

                },
              
                gotToOrderDetails: () => {
                    window
                }
            },
            mounted: function () {
                // this.getUnreadNotificationCount();

                this.getPendingOrders();
                this.getCompletedOrders();
                this.getCanceledOrders();
                this.getUser();


            },
        }).mount('#appCapsule')



        createApp({
            data() {
                return {
                    unreadNotificationsCount:0,
                }
            },
            methods: {
                getUnreadNotificationCount() {
                    axios.get('unread_notifications_count', {
            
                    }).then((response) => {
                        this.unreadNotificationsCount = response.data
                    })
                        .catch(function (error) {
                            // handle error
                            console.log(error);
                        })
                        .finally(() => {
                            // always executed

                        });
                },
            },
            mounted: function () {
                this.getUnreadNotificationCount();
            },
        }).mount('#appheader')

    </script>

</body>

</html>