<!doctype html>
<html lang="ar" dir="rtl">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="theme-color" content="#000000">
    <title>Finapp</title>
    <meta name="description" content="Finapp HTML Mobile Template">
    <meta name="keywords"
        content="bootstrap, wallet, banking, fintech mobile template, cordova, phonegap, mobile, html, responsive" />
    <link rel="icon" type="image/png" href="assets/img/favicon.png" sizes="32x32">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/icon/192x192.png">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="manifest" href="__manifest.json">

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>
</head>

<body class="app">

    <!-- loader -->
    <div id="loader">
        <img src="assets/img/loading-icon.png" alt="icon" class="loading-icon">
    </div>
    <!-- * loader -->

    <!-- App Header -->
    <div id="appheader"  class="appHeader">
        
        <div class="pageTitle">
            <span>
                المخزون الحالي
            </span>
        </div>
        <div class="right">
            <a href="app-notifications.html" class="headerButton">
                <ion-icon class="icon" name="notifications-outline"></ion-icon>
                <span v-if="unreadNotificationsCount" class="badge badge-danger">{{unreadNotificationsCount}}</span>
            </a>
            <!-- <a href="app-settings.html" class="headerButton">
                <img src="assets/img/sample/avatar/avatar1.jpg" alt="image" class="imaged w32">
                <span class="badge badge-danger">6</span>
            </a> -->
        </div>
    </div>
    <!-- * App Header -->



    <!-- App Capsule -->
    <div id="appCapsule" class="">
       

        <div v-if="areProductsLoading" class="spinner-border text-primary" role="status"></div>
        <div>
            <ul class="listview image-listview media">
                <li v-for="(product, index) in products">
                    <a href="#"  class="item">
                        <div class="imageWrapper">
                            <img src="assets/img/sample/photo/1.jpg" alt="image" class="imaged w64">
                        </div>
                        <div class="in">
                            <div>
                                {{product.name}}
                                <div class="mt-1"> <span class="text-muted">الكمية المتوفرة:</span>
                                    <strong style="font-size: 0.7rem;" class="">
                                        {{product.stock}}</strong> </div>
                                <div class=""> <span class="text-muted"> السعر:</span> <strong
                                        style="font-size: 0.7rem;" class=""> {{product.Net_price}}
                                        د.ل</strong> </div>

                            </div>
                        </div>
                    </a>
                </li>

            </ul>
        </div>


    </div>
    <!-- * App Capsule -->




    <!-- App Bottom Menu -->
    <div class="appBottomMenu">
        <a href="index.html" class="item">
            <div class="col">
                <ion-icon name="cart-outline"></ion-icon>
                <strong>الطلبيات</strong>
            </div>
        </a>
        <a href="storage.html" class="item active">
            <div class="col">
                <ion-icon name="document-text-outline"></ion-icon>
                <strong>المخزون</strong>
            </div>
        </a>
        <a href="app-settings.html" class="item">
            <div class="col">
                <ion-icon name="settings-outline"></ion-icon>
                <strong>الأعدادات</strong>
            </div>
        </a>
    </div>
    <!-- * App Bottom Menu -->


    <!-- ========= JS Files =========  -->

    <script type="module" defer src="assets/js/firebase-notification-init.js"></script>

    <!-- Bootstrap -->
    <script src="assets/js/lib/bootstrap.bundle.min.js"></script>
    <!-- Ionicons -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!-- Splide -->
    <script src="assets/js/plugins/splide/splide.min.js"></script>
    <!-- Base Js File -->
    <script src="assets/js/base.js" defer></script>

    <script type="module" defer>
        const { createApp } = Vue
        import axios from './axios.js'

        function getLastPart(url) {
            const parts = url.split('/');
            return parts.at(-1);
        }

        createApp({
            data() {
                return {
              
                    products: [],
                    areProductsLoading:true,
                
                    
                    user:null,
                   isUserLoading:true


                }
            },
            methods: {
                 getUser() {
                    return new Promise(async(resolve,reject) => {
                        try {
                        let response  = await axios.get('get_user_auth')
                        this.user = response.data
                        this.isUserLoading = true;
                        resolve(response.data)

                    } catch (error) {
                        reject(error);
                    }
                    })

        

                },
             
                Get_Products_By_Warehouse() {
                    // Start the progress bar.
                        let wearhouse = this.user.user.warehouses[0];
                        axios
                        .get("get_Products_by_warehouse/" + wearhouse + "?stock=" + 1 + "&is_sale=" + 1)
                        .then(response => {
                            this.products = response.data;

                        })
                        .catch(error => {
                            
                        }).finally(()=>{
                            this.areProductsLoading = false

                        })
                    
                   
                },
            },

            async mounted() {
                await this.getUser();
                this.Get_Products_By_Warehouse()
            }
        }).mount('#appCapsule')


        createApp({
            data() {
                return {
                    unreadNotificationsCount:0,
                }
            },
            methods: {
                getUnreadNotificationCount() {
                    axios.get('unread_notifications_count', {
            
                    }).then((response) => {
                        this.unreadNotificationsCount = response.data
                    })
                        .catch(function (error) {
                            // handle error
                            console.log(error);
                        })
                        .finally(() => {
                            // always executed

                        });
                },
            },
            mounted: function () {
                this.getUnreadNotificationCount();
            },
        }).mount('#appheader')


   </script>

</body>

</html>